<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      MythicStats
    </title>
    @inertiaHead()
    @vite(['resources/css/app.css', 'resources/js/app.ts'])
  </head>
  <body class="min-h-screen surface-ground text-color antialiased">
    @inertia()
  </body>
</html>

