@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
  }

  body {
    font-family: var(--font-family, 'Inter', system-ui, sans-serif);
    background-color: var(--surface-ground);
    color: var(--text-color);
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
